<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>I'm 21 and final year student of Computer Engineering at <a class="underline-link" href="http://www.gecmodasa.ac.in/" target="_blank">Government Engineering College</a> in Modasa expecting to graduate in June 2019.</p>

    <p>As a Software Engineer, I enjoy bridging the gap between engineering and design &mdash; combining my technical knowledge with my thoughts and solve the real life problems. My goal is always to build softwares that are scalable and efficient under the hood while providing engaging, pixel-perfect user experiences.</p>

    <p><strong>When I'm not in front of a computer screen</strong>, I'm probably watching TV series, having a Talk-Walk with nature, learning to solve problems using dynamic algos, or crossing off another item on my bucket list.</p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
